.overflow-auto {
  overflow-y: auto;
}
/* logo */
.logo-container {
  width: 50px;
  height: 50px;
  background-color: #5c9646;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.logo-text {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

/* search */
.search-bar {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.search-icon {
  margin-right: 8px;
}

.search-input {
  border: none;
  outline: none;
  width: 358px;
}

/* Nav item */
.nav.nav-underline .nav-link {
  color: black;
}